body {
  margin: 0;
  font-family: 'Shippori Mincho B1', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Hide vertical scroll bar */
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  cursor: pointer;
  text-decoration: underline;
  font-size: small;
  color: black;
}

.hidden {
  display: none;
}